.form{

  display:flex;
  background: rgb(27, 6, 85);
 
  justify-content: center;
  align-items: center;
 

}

.Todo{
  justify-content: center;
  align-items: center;
  padding-left: 30%;
  width:50%;
  height: 65%;

}
